.navbar .navbar-custom {
	background-color: #97bad0;
	padding: 5px;
	box-shadow: 0 0 30px black
}
.mainContainer {
	text-align: center;
	margin-bottom: 40px;
	background-color: #0074bb;
	background-size: 100%;
	background-origin: content;
	background-repeat: no-repeat;
}

.mainContainer:before {
	content: '';
	display: inline-block;
	height: 100%;
	height: 100vh;
	vertical-align: middle;
}

.mainContainer .centered {
	display: inline-block;
	vertical-align: middle;
	: -113;
}

.mainContainer .thumbnail {
	margin-bottom: 0px;
	padding-top: 20px;
	box-shadow: 0 0 30px black;
	background-color: #97bad0;
}
#663300